n8n/gregory-daily-sync.json
{
  "name": "GREGORY Daily Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "id": "50ae2bc6-34b0-42e5-870c-2a0c81959b8b",
      "name": "Daily 9 PM PT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://civpkkhofvpaifprhpii.supabase.co/functions/v1/gregory-daily-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "eda0baad-daff-41f9-a41f-317dd0661257",
      "name": "Call GREGORY Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        416
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 300000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b9915820-8811-48a5-9e96-05a3156818f9",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-success",
              "name": "sync_result",
              "value": "={{ 'GREGORY sync completed. ' + $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1d7cf3bc-aca9-48a7-8950-9f1b584d9229",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-failure",
              "name": "sync_result",
              "value": "={{ 'GREGORY sync FAILED. Status: ' + $json.statusCode + ' Body: ' + $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "89c81b5f-c32c-49e0-9df2-249493164d9e",
      "name": "Log Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        512,
        512
      ]
    }
  ],
  "connections": {
    "Daily 9 PM PT": {
      "main": [
        [
          {
            "node": "Call GREGORY Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call GREGORY Sync": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d9491cecbdf8d85057d1728a067938ec0cc174a3167e45c9fe9cbafc5fe8afb8"
  }
}
